.Pricing {
  position: relative;
  padding-top: 7rem;
}
.section-pricing {
  width: 60%;
  margin: 0 auto;
  padding: 0 3rem 3rem 3rem;
  position: relative;
}
.section-pricing p,
.section-pricing li {
  margin-top: 2.4rem;
}
.section-subtitle.-topspace {
  margin-top: 2.4rem;
}
.section-subtitle {
  line-height: 1.18;
  font-size: 1.166666667em;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  color: #384051;
}
.section-pricing ul {
  margin-left: 2em;
}
@media screen and (min-width: 768px) {
  .pricing-package:first-of-type {
    margin-top: 4.2rem;
  }
  p + .pricing-package {
    padding-top: 0;
  }
  .pricing-package {
    display: flex;
    max-width: initial;
    margin: initial;
    padding: 0;
  }
  .pricing-package > .description {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem 0;
    position: relative;
  }
  .pricing-package > .prices {
    display: flex;
    flex-basis: 75%;
  }
  .pricing-package > .prices {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 90%;
  }
  span.amount {
    font-size: 2rem;
  }
  .pricing-package > .prices > .price:nth-child(odd) {
    background-color: #f7f7f7;
  }
  .pricing-package > .prices > .price {
    display: flex;
    flex-basis: 25%;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
  }
  .section-pricing label,
  .section-pricing li,
  .section-pricing p {
    line-height: 1.6;
    color: inherit;
  }
  .pricing-package > .prices > .price > .description,
  .pricing-package > .prices > .price > .description > .unit {
    display: none;
  }
  .pricing-package > .prices > .price > .amount,
  .pricing-package > .prices > .price > .description {
    flex-basis: 50%;
  }
  .pricing-package > .prices > .price > .description > .unit {
    font-size: 1.4333333333rem;
    color: #999;
  }
  .pricing-package > .prices > .price > .amount {
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
  }
  .pricing-package > .prices > .price > .amount > .unit {
    vertical-align: text-top;
    font-size: 1.7222222222rem;
  }
  .pricing-package > .description > .title {
    margin-left: 0.5em;
  }
  .pricing-package > .description > .title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .title.font-normal {
    display: block !important;
    font-size: 1.4rem !important;
    font-weight: 400 !important;
  }
  .pricing-package:first-of-type > .description::before {
    display: flex;
    align-items: center;
    content: "Lawn Size (sqft)";
    justify-content: flex-start;
    padding-left: 0.5em;
  }
  .pricing-package:first-of-type > .description.-snow::before,
  .pricing-package:first-of-type > .description::before {
    position: absolute;
    top: -3.6rem;
    width: 100%;
    height: 3.6rem;
    text-align: center;
    font-size: 1.4333333333rem;
    text-transform: uppercase;
    font-weight: 700;
    white-space: wrap;
    background-color: #e5e5e5;
    color: #231f20;
  }
  .pricing-package:first-of-type > .prices > .price > .description {
    position: absolute;
    top: -3.6rem;
    width: 100%;
    height: 3.6rem;
    text-align: center;
    font-size: 1.4333333333rem;
    text-transform: uppercase;
    font-weight: 700;
    white-space: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    color: #231f20;
  }
}

@media screen and (max-width: 769px) {
  .section-pricing {
    width: 100%;
  }
  p + .pricing-package {
    margin-top: 1.6rem;
    padding-top: 0;
  }
  .pricing-package {
    padding: 1.6rem 0;
    max-width: 20em;
    margin: 0 auto;
  }
  .pricing-package > .description {
    padding: 0.5rem 0;
  }
  .pricing-package > .description > .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .title.font-normal {
    display: block !important;
    font-size: 1.4rem !important;
    font-weight: 400 !important;
  }
  .pricing-package > .prices {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 90%;
  }
  .pricing-package > .prices > .price:nth-child(odd) {
    background-color: #f7f7f7;
  }
  .pricing-package > .prices > .price {
    display: flex;
    padding: 0 1em;
    margin: 0 -1em;
    justify-content: space-between;
  }
}
